<!DOCTYPE html>
<html lang="zh-CN">
{% load blogListFilter %}
{% load staticfiles%}

<head>
    <link rel="icon" type="image/x-ico" href="/static/img/logo.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ blog_detail_title }}-文章-Alice_space</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cl-css.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/highlight/styles/railscasts.css">
    <link rel="stylesheet" href="/static/highlight/styles.css">
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    <script id="-cdnjs-cloudflare-com-ajax-libs-KaTeX-0-3-0-katex-min" type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
</head>

<body>
    <div class="cl-header container-fluid">
        <div class="header-content container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/blog/all/1">
                    <img src="/static/img/logo.png" width="72" height="72" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/all/1">首页 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">文章</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">关于</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="cl-cantainer container">
        <div class="row">
            <div class="col-md-9 cl-left">
                <div class="cl-artical-content">
                    <h2 class="cl-artical-title">{{ blog_detail_title }}</h2>
                    <div class="cl-card-tag">
                        <div>作者：{{ blog_detail_auth }} </div>
                        <div>发布日期：{{ blog_detail_time_release }} </div>
                        <div>最后编辑：{{ blog_detail_time_edit }}</div>

                    </div>
                    <div class="cl-artical">
                        <link rel="stylesheet" href="/static/editormd/css/editormd.preview.css" />
                        <div id="test-markdown-view">
                            <!-- Server-side output Markdown text -->
                            <textarea style="display:none;">{{ blog_detail_content | safe}}</textarea>
                        </div>
                        <script src="/static/jquery/jquery.min.js"></script>
                        <script src="/static/editormd/editormd.js"></script>
                        <script src="/static/editormd/lib/marked.min.js"></script>
                        <script src="/static/editormd/lib/raphael.min.js"></script>
                        <script src="/static/editormd/lib/underscore.min.js"></script>
                        <script src="/static/editormd/lib/sequence-diagram.min.js"></script>
                        <script src="/static/editormd/lib/flowchart.min.js"></script>
                        <script src="/static/editormd/lib/jquery.flowchart.min.js"></script>
                        <script src="/static/editormd/lib/prettify.min.js"></script>
                        <script type="text/javascript">
                            $(function () {
                                var testView = editormd.markdownToHTML("test-markdown-view", {
                                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                                    emoji: true,
                                    taskList: true,
                                    tex: true,  // 默认不解析
                                    flowChart: true,  // 默认不解析
                                    sequenceDiagram: true,  // 默认不解析

                                })
                            });

                        </script>
                    </div>
                </div>



            </div>


            <div class="col-md-3 cl-right">
                <div class="right-card">

                    <div class="right-card-main">
                        <div class="right-card-title">个人简介</div>
                        <div class="cl-code">
                            <img src="http://cdn.alicespace.cn/headpic.jpg" class="img-fluid" alt="">
                            <p>来自PKU物理<s>秃</s>学院</p>
                            <p>Python菜鸟，爱玩Linux，偶尔跑Tensorflow</p>
                            <p>喜欢<s>搞机</s>，热爱编程，热爱生活</p>
                            <p>也爱我的春天</p>
                        </div>

                    </div>
                </div>


                <div class="right-card">
                    <div class="right-card-main">
                        <div class="right-card-title">小游戏
                            <hr>
                        </div>

                        <ul class="label">
                            <li><a href="/static/2048Game-master/2048Game.html">2048</a></li>
                            <li><a href="#">在线运行Python</a></li>
                        </ul>
                    </div>
                    <div class="right-card">
                        <div class="right-card-main">
                            <div class="right-card-title">目录
                                <hr>
                            </div>
                            <ul class="right-recommended-list">
                                {% for columnItem in columnItems %}
                                <li><a href="{{ columnItem|key:'columnUrl' }}"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i>{{ columnItem|key:'columnContent' }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="container-fluid cl-footer">
        <div class="container">
            <p class="cl-copyright">&copy;Alicespace 春风十里，不如你 | Email:<a herf=''>lizhihao2001@163.com</a></p>
            <p class="cl-copyright"> 前端由简.工作室出品 后端由Python Django提供支持</p>
            <p class="cl-copyright">Icons made by <a href="https://www.flaticon.com/authors/eucalyp"
                    title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"
                    title="Flaticon">www.flaticon.com</a></p>
        </div>
    </div>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
