<!DOCTYPE HTML>
<html>

<head>
    <link rel="icon" type="image/x-ico" href="/static/img/logo.ico" />
    <title>Alice_space</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>

<body class="is-preload">
    <section id="header">
        <header class="major">
            <h1>Alice_space</h1>
            <p>做永远向上的普通人</p>
        </header>
        <div class="container">
            <p><strong>
                    <font face="楷体">人间胜景多少许，平生难逢几回春</font>
                </strong></p>
            <ul class="actions special">
                <li><a href="#one" class="button primary scrolly">Begin</a></li>
            </ul>
        </div>
    </section>
    <section id="one" class="main special">
        <div class="container"> <span class="image fit primary"><img src="/static/images/pic01.jpg" alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Who I AM</h2>
                </header>
                <p> 来自PKU物理<s>疯人</s>学院 </p>
                <p> 喜欢<s>搞机</s>，热爱编程，热爱生活 </p>
                <p> Python菜鸟，主力Linux，偶尔玩玩Tensorflow </p>
            </div> <a href="#three" class="goto-next scrolly">Next</a>
        </div>
    </section>
    <section id="footer">
        <section id="three" class="main special">
            <div class="container"> <span class="image fit primary"><img src="/static/images/pic03.jpg" alt="" /></span>
                <div class="content">
                    <header class="major">
                        <h2>欢迎来到我的空间</h2>
                    </header>
                    <p>有朋自远方来，不亦乐乎？</p> <a href="/blog/all/1" class="button primary fit">GO</a>
                </div>
            </div>
        </section>
        <footer>
            <ul class="copyright">
                <li>&copy; Alice_space</li>
                <li>Email:<a herf="lizhihao2001@pku.edu.cn">lizhihao2001@pku.edu.cn</a></li>
                <li>献给我爱的春天</li>
            </ul>
        </footer>
    </section>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.scrollex.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>

</html>